In [4]:
import pandas as pd 
df = pd.read_csv("/home/datascience/Documents/workspace/Dataset.csv")

In [5]:
#adding new variables
df['word_count'] = df['text'].apply(lambda x: len(str(x).split(" ")))
df['char_count'] = df['text'].str.len()
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

df['avg_word'] = df['text'].apply(lambda x: avg_word(x))

from nltk.corpus import stopwords
stop = stopwords.words('english')
df['text'] = df['text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

df['text'] = df['text'].apply(lambda x: " ".join(x.lower() for x in x.split()))


df['Text'] = df['text']

In [6]:
import warnings
warnings.filterwarnings('ignore')

In [8]:
df['text'] = df['text'].str.replace('[^\w\s]','')
df.head()

,text,Category.cleaned,word_count,char_count,avg_word,Text
0,next thursday hosting beer dinner 5 delicious...,Food & Drinks,19,108,5.294118,next thursday hosting . beer dinner! 5 delicio...
1,cant drink coffee mood tea hot chocolate time,Food & Drinks,16,75,4.000000,can't drink coffee mood tea hot chocolate time!
2,pero wala kpa na try nga nag inom asta maaga i...,Food & Drinks,17,79,3.705882,pero wala kpa na try nga nag inom asta maaga i...
3,tried chewy fudge cream cheese brownies try to...,Food & Drinks,19,98,4.444444,tried chewy fudge cream cheese brownies? try t...
4,brownies,Food & Drinks,3,10,8.000000,brownies

In [ ]:
from string import punctuation
def strip_punctuation(s):
    return ''.join(c for c in s if c not in punctuation)

In [3]:
strip_punctuation('Hello, how are you? Hope that you@ are doing #okay')

'Hello how are you Hope that you are doing okay'

In [ ]:
#removing punctuations and special characters
import string

def clear_punctuation(s):
    clear_string = ""
    for symbol in s:
        if symbol not in string.punctuation:
            clear_string += symbol
    return clear_string

for i in range(29820):
    df['Text'][i] = clear_punctuation(df['Text'][i])

In [8]:
df['Text'][1]

"can't drink coffee mood tea hot chocolate time!"

In [7]:
df['upper'] =  df['text'].apply(lambda x: len([x for x in x.split() if x.isupper()]))

In [8]:
df['text'] = df['text'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [9]:
df['Text'] = df['text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

In [10]:
df.head()

,text,Category.cleaned,word_count,char_count,avg_word,upper,Text
0,next thursday is hosting a . beer dinner! 5 de...,Food & Drinks,19,108,5.294118,0,next thursday hosting . beer dinner! 5 delicio...
1,can't drink coffee and not in the mood for tea...,Food & Drinks,16,75,4.000000,0,can't drink coffee mood tea hot chocolate time!
2,pero wala kpa na try nga nag inom asta maaga i...,Food & Drinks,17,79,3.705882,0,pero wala kpa na try nga nag inom asta maaga i...
3,have you tried our chewy fudge or cream cheese...,Food & Drinks,19,98,4.444444,0,tried chewy fudge cream cheese brownies? try t...
4,brownies,Food & Drinks,3,10,8.000000,0,brownies

In [15]:
#tokenizing the sentences
df['tokenize_sent'] = df.apply(lambda row: nltk.word_tokenize(row['Text']), axis = 1)

In [16]:
df.head()

,text,Category.cleaned,word_count,char_count,avg_word,upper,Text,tokenize_sent
0,next thursday is hosting a . beer dinner! 5 de...,Food & Drinks,19,108,5.294118,0,next thursday hosting . beer dinner! 5 delicio...,"[next, thursday, hosting, ., beer, dinner, !, ..."
1,can't drink coffee and not in the mood for tea...,Food & Drinks,16,75,4.000000,0,can't drink coffee mood tea hot chocolate time!,"[ca, n't, drink, coffee, mood, tea, hot, choco..."
2,pero wala kpa na try nga nag inom asta maaga i...,Food & Drinks,17,79,3.705882,0,pero wala kpa na try nga nag inom asta maaga i...,"[pero, wala, kpa, na, try, nga, nag, inom, ast..."
3,have you tried our chewy fudge or cream cheese...,Food & Drinks,19,98,4.444444,0,tried chewy fudge cream cheese brownies? try t...,"[tried, chewy, fudge, cream, cheese, brownies,..."
4,brownies,Food & Drinks,3,10,8.000000,0,brownies,[brownies]

In [17]:
#stemming
from nltk.stem import PorterStemmer
st = PorterStemmer()
df['tokenize_sent'] = df['tokenize_sent'].apply(lambda x:[st.stem(y) for y in x] )

In [18]:
df.head()

,text,Category.cleaned,word_count,char_count,avg_word,upper,Text,tokenize_sent
0,next thursday is hosting a . beer dinner! 5 de...,Food & Drinks,19,108,5.294118,0,next thursday hosting . beer dinner! 5 delicio...,"[next, thursday, host, ., beer, dinner, !, 5, ..."
1,can't drink coffee and not in the mood for tea...,Food & Drinks,16,75,4.000000,0,can't drink coffee mood tea hot chocolate time!,"[ca, n't, drink, coffe, mood, tea, hot, chocol..."
2,pero wala kpa na try nga nag inom asta maaga i...,Food & Drinks,17,79,3.705882,0,pero wala kpa na try nga nag inom asta maaga i...,"[pero, wala, kpa, na, tri, nga, nag, inom, ast..."
3,have you tried our chewy fudge or cream cheese...,Food & Drinks,19,98,4.444444,0,tried chewy fudge cream cheese brownies? try t...,"[tri, chewi, fudg, cream, chees, browni, ?, tr..."
4,brownies,Food & Drinks,3,10,8.000000,0,brownies,[browni]

In [19]:
#tfidf

import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(df['Text'])
print(tfidf_matrix.shape)
df.shape

(29821, 40973)

(29821, 8)

In [20]:
#cosine similarity between the tfidf vectors
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(tfidf_matrix[0:1], tfidf_matrix[29721:29821])

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0.]])

In [9]:
#loading glove model
import numpy as np
def loadGloveModel(gloveFile):
    print("Loading Glove Model")
    f = open(gloveFile,'r')
    model = {}
    for line in f:
        splitLine = line.split()
        word = splitLine[0]
        embedding = np.array([float(val) for val in splitLine[1:]])
        model[word] = embedding
    print ("Done",len(model)," words loaded!")
    return model

In [10]:
embedding_matrix = loadGloveModel('glove.twitter.27B.200d.txt')

Loading Glove Model
Done 1193514  words loaded!

In [7]:
import numpy as np
#defining length of string count function
def word_count(string):
    tokens = string.split()
    n_tokens = len(tokens)
    n_tokens = float(n_tokens)
    return n_tokens

#defining the function to calculate embedding vector for a sentence
def text2vec(sentence):
    for words in sentence.split():
        embedding_vector = np.zeros((200,1),dtype=np.float64)
        embedding_vector += np.reshape(embedding_matrix[words], (200,1))
    average_embedding_matrix = embedding_vector/word_count(sentence)
    return average_embedding_matrix

In [68]:
#Cosine Similarity between the two numpy arrays
def cos_sim(a,b):
    dot_product = np.sum(np.multiply(a,b))
    norm_a = np.linalg.norm(a)
    norm_b = np.linalg.norm(b)
    return dot_product/(norm_a * norm_b)

0.8672515612841923

In [73]:
vec_1 = text2vec('good at dancing')
vec_2 = text2vec('best at singing')
cos_sim(vec_1, vec_2)

0.7872158332335074

In [74]:
df.describe()

         word_count    char_count      avg_word
count  29821.000000  29821.000000  29821.000000
mean      15.602964     84.110593      5.255677
std        6.858704     37.490362      4.799458
min        1.000000      5.000000      1.909091
25%       11.000000     58.000000      4.222222
50%       15.000000     85.000000      4.722222
75%       20.000000    109.000000      5.473684
max      140.000000    801.000000    123.000000